*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #373737;
  }
  
  h3{
    position: relative;
    font-size: 20px;
    color: #f9f9f9;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  #form{
    position: relative;
    
  }
  #form #email {
    width: 300px;
    background: #292929;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 6px;
    color: #fff;
    font-style: 18px;
  }
  .inputBox{
    position: relative;
  }

  #text{
      display: block;
      color: #000;
      font-weight: 500;
      font-style: italic;
      padding: 5px;
  }

  .invalid{
     color: rgb(220, 54, 68);
      position: absolute;
      right: 12px;
      top: 6px;
      z-index: 1000;
  }
 .valid {
      color: rgb(84, 219, 30);
      position: absolute;
      right: 12px;
      top: 6px;
      z-index: 1000;
  }